body{
    margin: 0; /*Ele remove as margens*/
    font-family: "Arial", sans-serif;
    background: linear-gradient(120deg, #281f9e, #1c6b27); /*Ele faz um degradê/gradiente*/
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}


header{
    text-align: center;
    padding: 30px;
}
header img{
    width: 150px;
    height: 120x;
    border-radius: 38%;
    border: 4px solid #000000 ;
    
}

header h1{
    margin: 15px 0 5px;
    font-size: 26px;
    
}
header p{
    margin: 2px;
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    max-width: 400px;
}

.card{
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transorm 0.2s case; /*Efeito de elevação ao passar o mouse*/
}


.card:hover{
    transform: scale(1.05);  /*Efeito de elevação ao passar o mouse*/
}

.card h2{
    margin-bottom: 10px;
    

}

.card a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: green;
}

footer{
    margin: 30px 0px;
    font-size: 14px;
}


.saibamais{
 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transorm 0.2s case; /*Efeito de elevação ao passar o mouse*/
}

.saibamais:hover{
    transform: scale(1.05);  /*Efeito de elevação ao passar o mouse*/
}

.saibamais h2,p{
    margin-bottom: 10px;
    text-align: center;
}


.saibamais a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: green;
}

.cursos{
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transorm 0.2s case; /*Efeito de elevação ao passar o mouse*/
}

.cursos:hover{
    transform: scale(1.05);  /*Efeito de elevação ao passar o mouse*/
}

.cursos h2,p{
    margin-bottom: 10px;
    text-align: center;
}


.cursos a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: green;
    
}
.redesocial {
   
   
    text-align: center;
    padding: 10px;
    transition: transorm 0.2s case;
}


.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transorm 0.2s case; /*Efeito de elevação ao passar o mouse*/
}

.contatos:hover{
    
    transform: scale(1.05);  /*Efeito de elevação ao passar o mouse*/
}

.contatos h2,p{
    
    margin-bottom: 10px;
    text-align: center;
}


.contatos a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: green;
    ;
}